.cover{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  max-width: 1440px;
  width: 100%;
  background-color: #ffffff;
}

.success{
  color: #11fd00;
  font-size: 5rem;
}