.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  background: white;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: black;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 1024px) {
  .productsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 640px) {
  .productsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 420px) {
  .productsGrid {
    grid-template-columns: 1fr;
  }
}
