.cover {
  width: 100%;
  max-width: 1440px;
  height: 200px;
  background-color: #FAF3EA;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: black;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.container img {
  width: 70px;
  height: 70px;
}


.text {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  justify-content: space-between;
  height: 70px;
}

.textH1 {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.textP {
  font-size: 16px;
  font-weight: 400;
  color: #555555;
}

@media (max-width: 768px) {
  .cover {
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    row-gap: 20px;
    padding: 20px 0;
  }

  .container {
    gap: 10px;
  }

  .text {
    font-size: 14px;
    height: auto;
  }

  .textH1 {
    font-size: 18px;
  }

  .textP {
    font-size: 14px;
  }
}