.wrapper {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 20px 100px;
}

.rights {
  max-width: 1440px;
  width: 100%;
  background-color: white;
  border-top: 1px solid #e0e0e0;
  // margin: 50px;
  padding: 10px 100px;
  color: #666;
}

.position {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  gap: 20px;
  padding-bottom: 30px;
}

.logoText {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
  padding-bottom: 30px;
}

.pText {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.link {
  font-size: 16px;
  color: #666;
  text-decoration: none;
  margin-bottom: 30px;
}

.links {
  display: flex;
  flex-direction: column;
  color: #000;
  padding-bottom: 20px;

  &:hover {
    color: #88681e;
    text-decoration: underline;
  }
}

// @media (max-width: 1100px) {
//   .position {
//     grid-template-columns: 1fr 1fr;
//   }
// }

@media (max-width: 1124px) {
  .position {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .wrapper {
    padding: 20px;
  }

  .rights {
    text-align: center;
    padding: 10px 20px;
  }
}

@media (max-width: 1000px) {
  .position {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .wrapper {
    padding: 20px;
  }
}
