.frame {
  max-width: 1440px;
  width: 100%;
  height: 316px;
  padding: 16px;
  background-image: url("/images/Rectangle1.png");
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  transition: opacity 0.5s ease;
}
