.productList {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-bottom: 20px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  background: white;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: black;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 1024px) {
  .productsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 640px) {
  .productsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 420px) {
  .productsGrid {
    grid-template-columns: 1fr;
  }
}

.pagination {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 24px;

  button {
    padding: 10px 18px;
    border-radius: 8px;
    background: #f9f1e7;
    cursor: pointer;
    transition: 0.2s;
    color: #000;
  }

  button:hover {
    background: #b88e2f;
    color: white;
  }

  button:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
}

.pagination button.activePage {
  background: #b88e2f;
  color: white;
}