.wrapper {
  background: #fff;
  padding: 40px 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 48px;
}

.gallery {
  display: grid;
  grid-template-columns: 110px 1fr;
  gap: 16px;
}

.thumbsCol {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.thumb {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s;
  border: 2px solid transparent;
}

.thumb:hover {
  opacity: 1;
  transform: scale(1.05);
}

.activeThumb {
  opacity: 1;
  border: 2px solid #b88e2f;
}

.mainImage {
  background: #f5f5f5;
  border-radius: 16px;
  overflow: hidden;
  height: 500px;

  img {
    width: 100%;
    height: 500px;

    object-fit: cover;
    display: block;
  }
}

.infoCol {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h1 {
    font-size: 30px;
    font-weight: 700;
  }
}

.price {
  font-size: 26px;
  font-weight: 700;
  color: #b88e2f;
}

.description {
  font-size: 16px;
  line-height: 1.6;
  color: #444;
}

.sizeTitle {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.variantsCover {
  display: flex;
  gap: 12px;
}

.bordetop {
  border-top: 1px solid #9f9f9f;
  margin: 20px 0;
}

.textColor {
  color: #666;
}

.border {
  border-top: 1px solid #9f9f9f;
  margin: 20px 0;
}

.imageContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.imageBG {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 16px;
  background: #F9F1E7;
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  .thumbsCol {
    flex-direction: row;
    order: 2;
  }

  .mainImage img {
    height: 500px;
  }

  .imageContainer {
    flex-direction: column;
  }
}
